@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(../css/root.css);

@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica-255-cufonfonts/helvetica-light-587ebe5a59211.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_roboto {
    font-family: 'Roboto', sans-serif;
}

.ff_helevetica {
    font-family: 'Helvetica', sans-serif;
}

.custam_container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* =============font-weight========= */
.fw-normal {
    font-weight: 400 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ============line-height======== */
.lh-18 {
    line-height: 18px;
}

.lh-19 {
    line-height: 19px;
}

.lh-20 {
    line-height: 20px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-26 {
    line-height: 26px;
}

.lh-27 {
    line-height: 27px;
}

.lh-33 {
    line-height: 33px;
}

.lh-35 {
    line-height: 35px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-38 {
    line-height: 38px;
}

.lh-39 {
    line-height: 39px;
}

.lh-40 {
    line-height: 40px;
}

.lh-42 {
    line-height: 42px;
}

.lh-50 {
    line-height: 50px;
}

.lh-94 {
    line-height: 94px;
}

.z-4 {
    z-index: 4;
}

/* ===========nav========== */
.grident_bg {
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}

.gap_30 {
    gap: 30px;
}

.py_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.h_67 {
    height: 67px;
}

.max_w_103 {
    max-width: 103px;
}

.dropdown:hover .links {
    color: var(--clr-white);
}

.dropdown:hover svg path {
    fill: var(--clr-white);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-white);
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--clr-black);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--clr-lightgry);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cursor_pointer {
    cursor: pointer;
}

/* =======hero====== */
.ml_10 {
    margin-left: 10px;
}

.mb_25 {
    margin-bottom: 25px;
}

.gap_8 {
    gap: 8px;
}

.max_w_636 {
    max-width: 636px;
}

.hero_grident {
    width: 633.23px;
    height: 642px;
}

.btn_property {
    border-radius: 24px;
    padding: 10px 21.25px 12px 21px;
}

.border_none {
    border: 1px solid transparent;
}

.btn_border {
    border: 1px solid var(--clr-white)
}

.blureness {
    opacity: 70%;
    filter: blur(130px);
    border-radius: 100px;
}

.position_gradient {
    right: 59px;
    top: 80px;
    z-index: -1;
}

.btn_hover {
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
}

.btn_hover:hover {
    color: var(--clr-black);
    z-index: 1;
    border: 1px solid var(--clr-black);
}

.btn_hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    border: 1px solid transparent;
    border-radius: 24px;
    transition: 0.3s linear;
    opacity: 0;
    z-index: -1;
}

.btn_hover:hover::after {
    opacity: 1;
    top: 0%;
}

/* ==========get-started========== */
.started_bg_img {
    background-image: url(../images/png/started-img.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.started_row_gap {
    row-gap: 24px;
}

.min_h_320 {
    min-height: 320px;
}

.max_w_387 {
    max-width: 387px;
}

.max_w_182 {
    max-width: 182px;
}

.max_w_85 {
    max-width: 85px;
}

.max_w_190 {
    max-width: 190px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_20 {
    margin-bottom: 20px;
}

.padding_11 {
    padding: 1px 11.84px;
}

.padding_box {
    padding: 0 18.64px 40.41px 31.56px;
}

.border_property {
    border-radius: 16px;
    border: 1px solid transparent;
}

.bg_img_property {
    background-size: cover;
}

.Buildspace_bg {
    background-image: url(../images/png/started1.png);
}

.Bytes_bg_img {
    background-image: url(../images/png/started2.png);
}

.Series_bg_img {
    background-image: url(../images/png/started3.png);
}

.free_bg_img {
    background-image: url(../images/png/started4.png);
}

.knox_bg_img {
    background-image: url(../images/png/started5.png);
}

.started_card {
    transition: 0.3s linear;
    cursor: pointer;
    border-radius: 18px;
}

.started_card:hover {
    scale: 0.9;
}

/* =========Dig deeper========= */
.py_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gap_23 {
    gap: 23px;
}

.mb_14 {
    margin-bottom: 14px;
}

.max_w_159 {
    max-width: 159px;
}

.max_w_200 {
    max-width: 200px;
}

.max_w_282 {
    max-width: 282px;
}

.dig_card {
    border-radius: 12px;
    padding: 25px;
    width: 100%;
    height: inherit;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s linear;
}

.dig_gradient {
    width: 259px;
    height: 59px;
    background: var(--clr-gradientPurple);
    bottom: -21px;
    opacity: 66%;
    filter: blur(36px);
    display: none;
}

.dig_card:hover .dig_gradient {
    display: block;
}

.dig_card:hover {
    scale: 0.9;
}

/* =================go-to-source=========== */
.mb_0 {
    margin-bottom: 0;
}

.pt_40 {
    padding-top: 40px;
}

.mb_47 {
    margin-bottom: 47px;
}

.mt_20 {
    margin-top: 20px;
}

.ml_10 {
    margin-left: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.max_w_198 {
    max-width: 198px;
}

.max_w_522 {
    max-width: 522px;
}

.max_w_503 {
    max-width: 503px;
}

.max_w_393 {
    max-width: 393px;
}

.radius_24 {
    border-radius: 24px;
}

.padding_btn {
    padding: 11px 21px;
}

.padding_12_45 {
    padding: 12px 45px;
}

.border_bottom {
    border-bottom: 1px solid var(--clr-borderGry);
}

.update_box {
    background: var(--clr-lightblack);
}

.radius_800 {
    border-radius: 800px;
}

.outline_none {
    outline: none;
}

.update_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    max-width: 530px;
    padding: 12px;
}

.padding_13_21 {
    padding: 13px 21px;
}

.input_modification {
    max-width: 400px;
    width: 100%;
    padding: 10px;
}

.resources_box {
    padding: 12px;
    background: var(--clr-lightblack);
    border-radius: 14px;
}

.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.source_gradient {
    background: linear-gradient(180deg, #19161C 0%, #000000 100%);
    min-height: 811px;
    position: absolute;
    z-index: -1;
    width: 100%;
}

/* ===============footer================ */
.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer_border {
    border: 1px solid var(--clr-footerblack);
}

.footer_IconBox {
    width: 26px;
    height: 16px;
    border-radius: 0;
    background: var(--clr-navgry);
    transition: 0.3s linear;
}

.footer_IconBox:hover {
    background: var(--clr-white);
}

.footer_IconBox:hover {
    border-radius: 100px;
    scale: 1.3;
}

.gap_10 {
    gap: 10px;
}

.mb_6 {
    margin-bottom: 6px;
}

.footer_links {
    position: relative;
}

.footer_links {
    --c: var(--clr-white);
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    background:
        conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
    transition: .2s;
}

.footer_links:hover {
    --_p: 100%;
    color: var(--c);
}

.cross span:nth-child(1) {
    transform: rotate(42deg) translateY(16px);
    transition: 300ms linear;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5ms linear;
}

.cross span:nth-child(3) {
    transform: rotate(-43deg) translateY(-15px);
    transition: 300ms linear;
}

.img_ani {
    position: relative;
    animation-duration: 1s;
    animation-name: zoom-in-zoom-out;
    animation-timing-function: linear;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-black);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: linear-gradient(44.76deg, #9945FF 10.43%, #8752F3 30.84%, #5497D5 49.4%, #43B4CA 58.68%, #28E0B9 69.82%, #19FB9B 93.01%);
        transition: all 300ms linear;
    }

    .justify_content_center {
        justify-content: center;
    }

    .dig_card {
        max-width: 346px;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .source_rowGap_10 {
        row-gap: 10px;
    }
}

@media (min-width:576px) {
    .lh-sm-40 {
        line-height: 40px;
    }

    .lh-sm-66 {
        line-height: 66px;
    }

    .started_bg_img {
        padding: 30px;
    }

    .pt_sm_50 {
        padding-top: 50px;
    }

    .py_sm_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .mb_sm_15 {
        margin-bottom: 15px;
    }

    .mb_sm_61 {
        margin-bottom: 61px;
    }

    .mb_sm_76 {
        margin-bottom: 76px;
    }

    .update_box {
        padding: 49px 53px 45px 54px;
    }

    .resources_box {
        padding: 53px 54px;
    }

    .max_w_382 {
        max-width: 382px;
    }

    .max_w_400 {
        max-width: 400px;
    }
}

@media (min-width:768px) {
    .mb_29 {
        margin-bottom: 29px;
    }

    .mb_md_11 {
        margin-bottom: 11px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }

    .mb_md_13 {
        margin-bottom: 13px;
    }

    .mb_md_20 {
        margin-bottom: 20px;
    }

    .mb_md_60 {
        margin-bottom: 60px;
    }

    .mb_md_31 {
        margin-bottom: 31px;
    }

    .mb_md_19 {
        margin-bottom: 19px;
    }

    .mb_md_32 {
        margin-bottom: 32px;
    }

    .mb_md_31 {
        margin-bottom: 31px;
    }

    .mb_md_30 {
        margin-bottom: 30px;
    }

    .mt_md_30 {
        margin-top: 30px;
    }

    .pt_md_55 {
        padding-top: 55px;
    }

    .pt_md_80 {
        padding-top: 80px;
    }

    .py_md_60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py_md_79 {
        padding-top: 79px;
        padding-bottom: 79px;
    }

    .py_md_100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .gap_md_22 {
        gap: 22px;
    }

    .dig_card {
        padding: 31.59px 31.9px 34.42px 31.9px;
    }

    .started_bg_img {
        padding: 50px;
    }
}

@media (min-width:992px) {
    .lh-lg-70 {
        line-height: 70px;
    }

    .lh-lg-96 {
        line-height: 96px;
    }

    .max_w_563 {
        max-width: 563px;
    }

    .max_w_390 {
        max-width: 390px;
    }

    .max_w_505 {
        max-width: 505px;
    }

    .max_w_423 {
        max-width: 423px;
    }

    .max_w_260 {
        max-width: 260px;
    }

    .mb_lg_29 {
        margin-bottom: 29px;
    }

    .py_lg_128_100 {
        padding-top: 128px;
        padding-bottom: 100px;
    }

    .py_lg_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pt_lg_128 {
        padding-top: 128px;
    }

    .py_lg_100_79 {
        padding: 100px 0 79px 0;
    }

    .mb_52 {
        margin-bottom: 52px;
    }

    .mb_26 {
        margin-bottom: 26px;
    }

    .mb_48 {
        margin-bottom: 48.59px;
    }

    .mb_22 {
        margin-bottom: 22.59px;
    }

    .mr_18 {
        margin-right: 18px;
    }

    .ml_18 {
        margin-left: 18px;
    }

    .pt_lg_76 {
        padding-top: 76px;
    }

    .started_bg_img {
        padding: 75px 0 76.41px 88px;
    }

    .dig_card {
        height: 282px;
    }
}