@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(../css/root.css);

@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica-255-cufonfonts/helvetica-light-587ebe5a59211.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_roboto {
    font-family: 'Roboto', sans-serif;
}

.ff_helevetica {
    font-family: 'Helvetica', sans-serif;
}

.custam_container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* =============font-weight========= */
.fw-normal {
    font-weight: 400 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ============line-height======== */
.lh-18 {
    line-height: 18px;
}

.lh-19 {
    line-height: 19px;
}

.lh-20 {
    line-height: 20px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-26 {
    line-height: 26px;
}

.lh-27 {
    line-height: 27px;
}

.lh-33 {
    line-height: 33px;
}

.lh-35 {
    line-height: 35px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-38 {
    line-height: 38px;
}

.lh-39 {
    line-height: 39px;
}

.lh-40 {
    line-height: 40px;
}

.lh-42 {
    line-height: 42px;
}

.lh-70 {
    line-height: 70px;
}

.lh-96 {
    line-height: 96px;
}

/* ===========nav========== */
.grident_bg {
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}

.gap_30 {
    gap: 30px;
}

.h_67 {
    height: 67px;
}

.dropdown_modification {
    background: var(--clr-black);
    /* border: 1px solid var(--clr-white); */
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    position: relative;
    left: -75px;
    top: 32px;
}

#btnn.active.dropdown_modification {
    opacity: 1;
    position: relative;
}

.dropdown_hover:hover {
    color: var(--clr-white);
}

.drop_parent:hover .links {
    color: var(--clr-white);
}

.drop_parent:hover svg path {
    fill: var(--clr-white);
}

.cursor_pointer {
    cursor: pointer;
}

/* =======hero====== */
.ml_10 {
    margin-left: 10px;
}

.mb_19 {
    margin-bottom: 19px;
}

.mb_40 {
    margin-bottom: 40px;
}

.pt_128 {
    padding-top: 128px;
}

.gap_8 {
    gap: 8px;
}

.hero_grident {
    width: 633.23px;
    height: 642px;
}

.btn_property {
    border-radius: 24px;
    padding: 10px 21.25px 12px 21px;
}

.border_none {
    border: 1px solid transparent;
}

.btn_border {
    border: 1px solid var(--clr-white)
}

.blureness {
    opacity: 60%;
    filter: blur(130px);
    border-radius: 100px;
}

.position_gradient {
    right: 59px;
    top: 80px;
    z-index: -1;
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-black);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }
}

@media (min-width:576px) {
    .lh-sm-94 {
        line-height: 94px;
    }
}

@media (min-width:992px) {
    .max_w_563 {
        max-width: 563px;
    }

    .max_w_390 {
        max-width: 390px;
    }
}